
<div class="signup"><center><img src="http://zitrocapital.com/media/msignup2.jpg" alt="Sign Up Page Image Logo"></div></center>
	<center><br>
	<h4>Fill in the form below to join our community</h4>
			<%= form_for @user, controller: 'users', action: 'create' do |f| %>
		  <%= f.text_field :name, placeholder: 'Name' %>
		  <br>
		  <%= f.password_field :password, placeholder: 'Password' %>
		  <br>
		  <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
		  <br><br>
		  <%= f.submit "Create Account", class:'btn btn-success' %>
			<% end %>
		</center>
		<div class="col-container" style="padding:20px">
			<!-- Example row of columns -->

				<div class="col" id="a1">
					<center><h2>Capture your Feelings</h2>
					<p>Just sign in and make a new entry into your diary. </p></center>
					<p></p>
				</div>
				<div class="col" id="a2">
					<center><h2>Facial Recognition</h2>
					<p>Our facial recognition goes through your image and evaluates your current emotional state. </p></center>
					<p></p>
			 </div>
				<div class="col" id="a3">
					<center><h2>Start Finding Trends</h2>
					<p>Moodster allows you to start seeing your monthly emotional trends.</p></center>
					<p></p>

			</div>


			<hr>
		</div> <!-- /container -->
		<row><div class="aboutBg"><div class="about" name="about">
			<center><h1>About Moodster</h1>
			<div class="internal"><p>Moodster is an application that utilizes cutting edge Artificial Intelligence, Machine Learning, Reinforcement Learning, Deep Learning, Image Processing, and Cognitive Services to build a User's Emotional Profile.</p>
			<p>Moodster captures it's user's image and creates a profile which can later be used to evalute you state of mind and build better habits to get to your own happiness.</p></div>
		</center>

	</div></div></row>
</div>
