<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<!-- Bootstrap core CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<style>
	:root {
	  --jumbotron-padding-y: 3rem;
	}

	.jumbotron {
	  padding-top: var(--jumbotron-padding-y);
	  padding-bottom: var(--jumbotron-padding-y);
	  margin-bottom: 0;
	  background-color: #fff;
	}
	@media (min-width: 768px) {
	  .jumbotron {
	    padding-top: calc(var(--jumbotron-padding-y) * 2);
	    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
	  }
	}

	.jumbotron p:last-child {
	  margin-bottom: 0;
	}

	.jumbotron-heading {
	  font-weight: 300;
	}

	.jumbotron .container {
	  max-width: 40rem;
	}

	footer {
	  padding-top: 3rem;
	  padding-bottom: 3rem;
	}

	footer p {
	  margin-bottom: .25rem;
	}

	.userimg{
		border-style: inset;
    border-width: medium;
	}

	.card{
		background-image: url("https://zitrocapital.com/media/cardbg4.jpg");
		color: white;
		text-shadow: 2px 1px black;
	}

	.topsec{
		/* background-image: url("https://zitrocapital.com/media/bg_about.jpg"); */
	}


	.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
</style>
<br>
<br>
<div class="signup"><center><img src="http://zitrocapital.com/media/msignup2.jpg" alt="Sign Up Page Image Logo"></div></center>
<center><div class="user_dash">
<h1>Welcome <%= @user.name.capitalize %></h1>
<div class="panel panel-default"><h3>Click Below to Analyze Your Face </h3>
<%= link_to "Take Picture", cam_path, method: :get, class: "btn btn-success" %>
<br><p> </p></div>

<div class="topsec"><% if File.exist?("./app/assets/images/#{@user.id}/#{@user.features.length}.jpg") %>
	<%= image_tag("#{@user.id}/#{@user.features.length}.jpg", :size => "292x350", :class => "userimg") %>
<% end %></div>

<h1><%= @user.name.upcase %>'s Face Analyses</h1>

 <row><div><% @user.features.each_with_index do |feature, index| %>
       <div class="col-md-4 text-center" style="padding: 1em">
         <div class="card" style="background-color:#EBF0F2; padding: 1em">
           <div class="card-body">

						 <% if File.exist?("./app/assets/images/#{@user.id}/#{index+1}.jpg") %>
							<%= image_tag("#{@user.id}/#{index+1}.jpg", :size => "250x300", :class => "userimg") %>
						 <% end %>

						 <h4 class="card-title">You look like you are:</h4>
             <h5 class="card-text text-center"><%= feature.gender.capitalize %></h5>

						 <h4 class="card-title">You appear to be around:</h4>
						 <h5 class="card-text text-center" style="height: 10rem"><%= feature.age %></h5>

						 <h4 class="card-title">Your face is exhibiting:</h4>
						 <h5 class="card-text text-center" style="height: 10rem"><%= feature.emotions %></h5>

						 <h4 class="card-title">Makeup?:</h4>
 						 <h5 class="card-text text-center" style="height: 10rem"><%= feature.makeup %></h5>

						 <h4 class="card-title">Glasses?:</h4>
						 <h5 class="card-text text-center" style="height: 10rem"><%= feature.glasses %></h5>

						 <h4 class="card-title">Facial hair?:</h4>
						 <h5 class="card-text text-center" style="height: 10rem"><%= feature.facialHair %></h5>

						<h4 class="card-title">We believe you are wearing:</h4>
						<h5 class="card-text text-center" style="height: 10rem"><%= feature.accessories %></h5>

           </div>
         </div>
       </div>
     <% end %>
	 </div></row>

<a name="why_do_you_hate_us"></a>
<h3>Want To Delete Your Account?</h3>
<h4>If You Are Just Press The Button Below To Delete Your Account</h4>
	<p><%= button_to "Delete Profile", @user, :method => :delete, class: "btn btn-danger"%></p><br>

</div></center>
