<!DOCTYPE html>

<html>
  <head>
    <title>Moodster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- test below -->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Welcome To Moodster</title>

<!-- Bootstrap core CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows

<!-- Custom styles for this template -->
<link href="../app/assets/stylesheets/application.css" rel="stylesheet">

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button> -->
					<!-- add in a logo image -->
					<img alt="Moodster" class="imghead" src="http://zitrocapital.com/media/mhead_logo.png"</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<div class="navbar-form navbar-right">
            <% if logged_in? %>
						<ul class="navlinks">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
						</ul>
            <% else %>
  						<%= form_for(:session, url: '/') do |f| %>
  							<!-- <%= f.label :name, class: 'head-text' %> -->
  							<%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
  							<!-- <%= f.label :password, class: 'head-text' %> -->
  							<%= f.password_field :password,placeholder: 'Password', class: 'form-control' %>
  							<%= f.submit "Login", class: "btn btn-success" %>
  							<%= link_to "Sign Up", new_user_path, class: "btn btn-success" %>
  						<% end %>
            <% end %>
					</div>
				</div>
			</div>
		</nav>

  </head>

  <body>
    <%= yield %>
  </body>
	<footer><center><br><br>
		<p>&copy; 2018 Moodster, LLC.</p>
	</center></footer>
</html>
